<mat-tab-group mat-align-tabs="end">

  <mat-tab class="navbar-tab" label="Início"> 
    <h1 id="titulo-inicio">AllWork.</h1>  
  </mat-tab>

  <mat-tab class="navbar-tab" label="Alugue">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h2 class="em-construcao">Em construção... </h2>
    </div>
    <div class="col-md-3"></div>
  </mat-tab>

  <mat-tab class="navbar-tab" label="Cadastro">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <app-edit-cadastro></app-edit-cadastro>
    </div>
    <div class="col-md-3"></div>
  </mat-tab>

  <mat-tab class="navbar-tab" label="Login"> 
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <app-login></app-login>
    </div>
    <div class="col-md-3"></div>
  </mat-tab>

  <mat-tab class="navbar-tab" label="Lista de Usuários Cadastrados">
    <div class="col-md-3"></div>
      <div class="col-md-6">
        <app-list></app-list>
      </div>
    <div class="col-md-3"></div>
  </mat-tab>

  <mat-tab class="navbar-tab" label="Minha conta"> 
    <div class="col-md-3"></div>
    <div class="col-md-6">
      
    </div>
    <div class="col-md-3"></div>
  </mat-tab>

</mat-tab-group>
  