@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');

#titulo-inicio {
    font-family: 'Cormorant Garamond', serif;
    font-size: 20em;
    text-align: center;
}

.em-construcao {
    font-family: 'Cormorant Garamond', serif;
    font-size: 5em;
    text-align: center;
}