<div class="edit-container">
  <h1>Cadastro de Usuário</h1>
  <form (ngSubmit)="onSubmit()">

  <mat-form-field>
    <input type="text" matInput placeholder="Nome" required [(ngModel)]="usuario.nome" name="nome">
  </mat-form-field>
  <br>

  <mat-form-field>
    <input type="email" matInput placeholder="Email" required [(ngModel)]="usuario.email" name="email">
  </mat-form-field>
  <br>

  <mat-form-field>
    <input type="text" matInput placeholder="CPF" required [(ngModel)]="usuario.cpf" name="cpf">
  </mat-form-field>
  <br>

  <mat-form-field>
    <input type="date" matInput placeholder="Nascimento" required [(ngModel)]="usuario.nascimento" name="nascimento">
  </mat-form-field>

  <br>

  <mat-form-field>
    <input type="tel" matInput placeholder="Telefone" required [(ngModel)]="usuario.telefone" name="telefone">
  </mat-form-field>

  <br>
  
  <mat-form-field>
    <input type="password" matInput placeholder="Senha" required [(ngModel)]="usuario.senha" name="senha">
  </mat-form-field>

  <br>

  <div class="div-align-center">
      <button type="submit" mat-raised-button color="primary">Cadastrar</button>
  </div>

  </form>
</div>