<div class="login-container">
  <h1>Login</h1>
  <form>

    <mat-form-field>
      <input type="email" matInput placeholder="Email" required name="email" [(ngModel)]="email">
    </mat-form-field>
    <br>

    <mat-form-field>
      <input type="text" matInput placeholder="Senha" required name="senha" [(ngModel)]="senha">
    </mat-form-field>
    <br>

    <div class="div-align-center">
        <button (click)="login()" type="submit" mat-raised-button color="primary">Entrar</button>
    </div>
    
  </form>
</div>