<!-- <div class="card mt-2" *ngFor="let usuario of usuarios | async">
  <div class="card-body">
    <h5 class="card-title">{{usuario.nome}}</h5>
      <p class="card-text">Email: {{usuario.email}}</p>
      <p class="card-text">Telefone: {{usuario.telefone}}</p>
      <p class="card-text">Senha: {{usuario.senha}}</p>
      <p class="card-text">CPF: {{usuario.cpf}}</p>
      <p class="card-text">Nascimento: {{usuario.nascimento}}</p>
      <p class="card-text">eLocatario: {{usuario.eLocatario}}</p>
  </div>
  <div class="card-footer">
    <button class="btn btn-default" (click)="edit(usuario, usuario.key)">Editar</button>
    <button class="btn btn-default" (click)="delete(usuario.key)">Excluir</button>
  </div>
</div> -->
<mat-card *ngFor="let usuario of usuarios | async" class="card-container">
  <mat-card-header>
    <mat-card-title>{{usuario.nome}}</mat-card-title>
    <mat-card-subtitle>Usuário</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../../assets/images/usericon.png" alt="User Icon" class="user-icon">
  <mat-card-content>
      <p>Email: {{usuario.email}}</p>
      <p>Senha: {{usuario.senha}}</p>
      <p>CPF: {{usuario.cpf}}</p>
      <p>Telefone: {{usuario.telefone}}</p>
      <p>Nascimento: {{usuario.nascimento}}</p>
      <p>eLocatario: {{usuario.eLocatario}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="edit(usuario, usuario.key)">Editar</button>
    <button mat-button (click)="delete(usuario.key)">Excluir</button>
  </mat-card-actions>
</mat-card>
